<div class="container d-flex justify-content-center">
	<form class="m-3 p-3" style="width: 50%">
		 <div class="mb-3" >
			<label for="email" class="form-label">Email</label>
			<input type="email" class="form-control" id="email" placeholder="name@example.com">
		 </div>
		 <div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<input class="form-control" id="password" placeholder="Abcd@123">
		 </div>
		 <input type="submit" class="btn btn-primary px-3" id="submit" value="Login">
	</form>
</div>