<!-- Navbar -->

<div class="container-fluid">
	<nav class="navbar bg-dark nav-fill justify-content-center p-3" style="color: #fff;">
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/section" routerLinkActive="active">Section</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/page"routerLinkActive="active">Page</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/auth" routerLinkActive="active">Auth</a>
			</li>
		</ul>
	</nav>
</div>

<!-- Navbar Ends -->



<div class="container">
	<ul *ngIf="coursesList.show && courses">
		<li *ngFor = "let course of courses" [ngStyle]="{'color': '#000'}">
			{{ course }}
		</li>
	</ul>
</div>
<button (click)="showList()" class="ms-5 btn btn-primary">{{ coursesList.title }} List!</button>
