<div class="container m-4 p-4 d-flex justify-content-center">
	<div class="card">
		<div class="form-btn d-flex justify-content-center" style="width: 100%">
			<button class="text-center border-bottom border-1" routerLink="/auth/login">Login</button>
			<button class="text-center border-start border-bottom border-1" routerLink="/auth/register" routerLinkActive="active">Register</button>
		</div>
		<div class="card-body">

			<!-- [FormGroup] is a directive which is used to bind
				the <form> element to create a FormGroup object -->
			<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
				<div class="mb-3">

					<!-- Name -->
					<label for="user_name" class="form-label">Name</label>
					<input type="text" class="form-control" id="user_name" formControlName="user_name">

					<!-- name errors -->
					<div *ngIf="form.user_name.invalid && (form.user_name.dirty || form.user_name.touched)">
						<span class="text-danger" *ngIf="form.user_name.errors?.required">Name is required. </span>
						<span class="text-danger" *ngIf="form.user_name.errors?.minLength || form.user_name.errors?.maxLength">
							Name is Invalid. A valid name consists of 3 to 25 characters.
						</span>
					</div>
					<ng-template *ngIf="form.user_name.valid">
						<i class="bi bi-check2-circle text-success"></i>
					</ng-template>
				</div>

				<!-- Email -->
				<div class="mb-3">
					<label for="user_email" class="form-label">Email</label>
					<input type="email" class="form-control" id="user_email" aria-describedby="emailHelp" autocomplete="off" formControlName="user_email" name="user_email">

					<span class="text-secondary" *ngIf="form.user_email.valid || form.user_email.pristine ">
						We'll never share your email with anyone else.
					</span>
					<!-- Errors -->
					<div class="text-danger" *ngIf="form.user_email.invalid && (form.user_email.dirty || form.user_email.touched)">
						<span *ngIf="form.user_email.errors?.email">Email field is not valid.</span>
						<span *ngIf="form.user_email.errors?.required">Email is required</span>
					</div>
				</div>

				<!-- Contact -->
				<div class="mb-3">
					<label for="user_contact" class="form-label">Contact</label>
					<input type="text" class="form-control" id="user_contact" formControlName="user_contact">

					<!-- Errors -->
					<div class="text-danger" *ngIf="form.user_contact.invalid && (form.user_contact.dirty || form.user_contact.touched)">
						<span *ngIf="form.user_contact.errors?.required">
							Contact is required.
						</span>
						<span *ngIf="form.user_contact.errors?.minlength || form.user_contact.errors?.maxlength">
							Contact is invalid
						</span>
					</div>
				</div>

				<!-- Password -->
			  	<div class="mb-3">
					<label for="user_password" class="form-label">Password</label>
					<input type="password" class="form-control" id="user_password" formControlName="user_password" autocomplete="off">

					<div class="text-danger" *ngIf="form.user_password.invalid && (form.user_password.dirty || form.user_password.touched)">
						<span class="text-danger" *ngIf="form.user_password.errors?.required">
							Password is required
						</span>
						<span class="text-danger" *ngIf="form.user_password.errors?.minlength">
							Password should be minimum 6 and maximum 25 characters with a combination of letters, special symbols and numbers.
						</span>
					</div>
			  	</div>

			  	<!-- Confirm Password -->
			  	<div class="mb-3">
					<label for="user_cpassword" class="form-label">Confirm Password</label>
					<input type="password" class="form-control" id="user_cpassword" formControlName="user_cpassword" autocomplete="off">


					<div class="text-danger" *ngIf="registerForm.errors?.matching && (registerForm.controls['user_cpassword'].dirty || registerForm.controls['user_cpassword'].touched)">
						Passwords don't match.
					</div>
			  	</div>

			  	<!-- Submit -->
			  	<input type="submit" class="btn btn-primary" value="Register" [disabled]="registerForm.invalid">

			  	<!-- Reset -->
			  	<button type="button" id="reset" class="btn btn-warning p-1" (click)="onReset()">Reset</button>
			</form>
			<!-- Form Ends -->

		</div>
	</div>
</div>
