<div class="container m-4 p-4 d-flex justify-content-center">
	<div class="card">
		<div class="form-btn d-flex justify-content-center" style="width: 100%">
			<button class="text-center border-bottom border-1" routerLink="/auth/login">Login</button>
			<button class="text-center border-start border-bottom border-1" routerLink="/auth/register" routerLinkActive="active">Register</button>
		</div>
		<div class="card-body">
			<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
				<!-- Email -->
				<div class="mb-3">
					<label for="user_email" class="form-label">Email</label>
					<input type="email" class="form-control" id="user_email" aria-describedby="emailHelp" autocomplete="off" formControlName="user_email" name="user_email">


					<!-- Errors -->

					<div class="text-danger" *ngIf="form.user_email.invalid && (form.user_email.dirty || form.user_email.touched)">
						<span *ngIf="form.user_email.errors?.email">Email field is not valid.</span>
						<span *ngIf="form.user_email.errors?.required">Email is required</span>
					</div>
				</div>


				<!-- Password -->
				<div class="mb-3">
					<label for="user_password" class="form-label">Password</label>
					<input type="password" class="form-control" id="user_password" formControlName="user_password" autocomplete="off">

					<div class="text-danger" *ngIf="form.user_password.invalid && (form.user_password.dirty || form.user_password.touched)">
						<span class="text-danger" *ngIf="form.user_password.errors?.required">
							Password is required
						</span>
					</div>
			  	</div>


			  	<div class="mb-3 form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Check me out</label>
			  	</div>
			  	<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>

